# Created by .ignore support plugin (hsz.mobi)
### Ada template
# Object file
*.o

# Ada Library Information
*.ali

#untrack CMakeList file it should not be in the repo
CMakeLists.txt

#untrack .idea file it should not be in the repo

.idea/HopeRF_LoRa_Receiver.iml
        .idea/deployment.xml
        .idea/misc.xml
        .idea/modules.xml
        .idea/vcs.xml
        .idea/workspace.xml
